<section>
    <div class="container-fluid pt-5">
        <div class="edit-product m-4">
            <div class="add-product mt-3">
                <h2 class="text-center">Add Product</h2>
                <form action="/admin/add-clue" method="post" enctype="multipart/form-data">
                    <label for="">Clue Number</label>
                    <input type="number" name="clueNumber" id="" class="form-control">

                    <label for="">Clue</label>
                    <textarea name="clue" id="" class="form-control" rows="3"></textarea>

                    <label for="">Answer</label>
                    <input type="text" name="answer" class="form-control" id="">

                    <button class="btn btn-success mt-4" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>