<header>
    <div class="nav-left">
        <div class="logo">
            <h1>VISAGES TREASURE HUNT</h1>
        </div>
    </div>
    <div class="nav-right">
        <h2>Name</h2>
        <h3>Logout</h3>
    </div>
</header>