<section>
    <h2 id="clueTitle">Clue {{clue.clueNumber}}</h2>
    <p id="clueText">{{clue.clue}}</p>

    <input type="hidden" id="clueId" value="{{clue._id}}">
    <input type="hidden" id="clueNumber" value="{{clue.clueNumber}}">
    <input type="text" id="answerInput" class="form-control" placeholder="Enter your answer">
    <button id="submitAnswer" class="btn btn-primary">Submit</button>
    <p id="feedback" style="color: red;"></p>
</section>
