    <div class="paper-grid-box">
        <h2 class="landingHeader">
            Welcome to Visages 2025,
        </h2>
        <p class="landingText">Crack the clues, conquer the quest—whether online or on the ground, the hunt never stops!</p>
        <div class="landingButtons">
            <a href="/user-login" class="btn btn-success submitButton">Login</a>
            <a href="/user-signup" class="btn btn-primary submitButton">Register</a>
        </div>
    </div>