<section class="page">
    <div class="paper-grid-box">
        <div class="conatiner-fluid formContainer">
            <h2 class="text-center">Create New Account</h2>
            <form action="/user-signup" method="post" class="formBox">

                <div class="form-group">
                    <label for="" class="formLabel">Team Name :</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter Name" id="">
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">College Name :</label>
                    <input type="text" name="collegeName" class="form-control" placeholder="Enter College Name" id="">
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">Email :</label>
                    <input type="email" name="Email" class="form-control" placeholder="Enter Email" id="">
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">Phone :</label>
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Enter Phone Number" id="">
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">Password :</label>
                    <input type="password" name="Password" class="form-control" placeholder="Password" id="">
                </div>
                {{!--
                <input type="hidden" name="level" value="0">
                <input type="hidden" name="timeTaken" value="0"> --}}

                <button type="submit" class="btn btn-primary submitButton">Register</button>
            </form>
        </div>
    </div>
</section>