<section class="page">
    <div class="paper-grid-box">
        <div class="conatiner-fluid formContainer">
            <h2 class="text-center">Create New Account</h2>
            <form action="/user-signup" method="post" class="formBox">

                <div class="form-group">
                    <label for="" class="formLabel">Team Name :</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter Name" id="">
                </div>

                <div class="form-group">
                    <label class="formLabel">Class</label>
                    <select name="class" class="form-control">
                        <option value="I BA">I BA</option>
                        <option value="II BA">II BA</option>
                        <option value="III BA">III BA</option>
                        <option value="I BCOM E">I BCOM E</option>
                        <option value="II BCOM E">II BCOM E</option>
                        <option value="III BCOM E">III BCOM E</option>
                        <option value="I BCOM F">I BCOM F</option>
                        <option value="II BCOM F">II BCOM F</option>
                        <option value="III BCOM F">III BCOM F</option>
                        <option value="I BCOM G">I BCOM G</option>
                        <option value="II BCOM G">II BCOM G</option>
                        <option value="I BCA A">I BCA A</option>
                        <option value="I BCA B">I BCA B</option>
                        <option value="II BCA B">II BCA B</option>
                        <option value="II BCA C">II BCA C</option>
                        <option value="III BCA B">III BCA B</option>
                        <option value="III BCA C">III BCA C</option>
                        <option value="I BBA C">I BBA C</option>
                        <option value="II BBA C">II BBA C</option>
                        <option value="III BBA C">III BBA C</option>
                        <option value="I BBA D">I BBA D</option>
                        <option value="II BBA D">II BBA D</option>
                        <option value="III BBA D">III BBA D</option>
                        <option value="I and II BCOM IFA">I and II BCOM IFA</option>
                        <option value="I and II BBA SF">I and II BBA SF</option>
                        <option value="I and II MCOM">I and II MCOM</option>
                        <option value="I and II MA">I and II MA</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">Email :</label>
                    <input type="email" name="Email" class="form-control" placeholder="Enter Email" id="">
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">Phone :</label>
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Enter Phone Number" id="">
                </div>

                <div class="form-group">
                    <label for="" class="formLabel">Password :</label>
                    <input type="password" name="Password" class="form-control" placeholder="Password" id="">
                </div>
                {{!--
                <input type="hidden" name="level" value="0">
                <input type="hidden" name="timeTaken" value="0"> --}}

                <button type="submit" class="btn btn-primary submitButton">Register</button>
            </form>
        </div>
    </div>
</section>