<section class="paper-grid-box-big">
    <h1 class="landingHeader">FIND THE WORD FROM THE CROSSWORD</h1>
    <p class="clueText">
        Use the below button to download a IMAGE . One of them leads to the next puzzle. SOLVE THEM!
    </p>
    <a href="/images/decrypt.png" class="btn btn-success" download> Download File </a>
    <p class="clueText">(no space required)</p>
    <form action="/task/{{taskName}}/{{clueId}}" method="POST" class="taskForm" style="width: 40rem;">
        <div class="taskAnswer">
            <label for="taskAnswer" class="taskAnswerText">Your Answer:</label>
            <input type="text" name="taskAnswer" id="taskAnswer" placeholder="Enter your answer" class="taskAnswerBox"
                style="width: 25rem !important;" required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary submitButton">
    </form>
</section>