<section class="paper-grid-box">
    <h1 class="landingHeader">WORD IN AUDIO</h1>
    <p class="landingText">Find the word in me!!</p>
    <audio controls>
        <source src="/audio/morse code.wav" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <form action="/task/{{taskName}}/{{clueId}}" method="POST" class="taskForm">
        <div class="taskAnswer">
            <label for="taskAnswer" class="taskAnswerText">Your Answer:</label>
            <input type="text" name="taskAnswer" id="taskAnswer" placeholder="Enter your answer" class="taskAnswerBox"
                required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary submitButton">
    </form>
</section>