<section>
    <h1>Audio</h1>
    <form action="/task/{{taskName}}/{{clueId}}" method="POST">
        <label for="taskAnswer">Your Answer:</label>
        <input type="text" name="taskAnswer" id="taskAnswer" placeholder="Enter your answer" required>
        <input type="submit" value="Submit">
    </form>
</section>